.buscador{
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
input{
    width: 75%;
    transition: 0.3s;
    height: 40px;
    font-size: 25px;
    padding-left: 15px;
}
input:focus{
    width: 100%;
    transition: 0.5s;
    border-radius: 15px;
}